# npm
node_modules
npm-shrinkwrap.json
*.log
*.gz

# Yarn
yarn-error.log
yarn.lock

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

k8s-config.yaml

# Archivos de estado y binarios de Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl

# Clave SSH privada generada
**/*.pem